* {
  padding: 0px;
  margin: 0px;
}
.main-menu-bar {
  background-color: #ffffff;
  height: 100vh;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) !important;
  top: 0;
  position: fixed;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}
.Profile-Picture {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: Helvetica Neue;
}
.Profile-image-sec {
  border-radius: 100px;
}
.Profile-text {
  margin-top: 0.4rem;
  margin-left: 0.6rem;
  width: 45%;
}

.All-sections {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  text-decoration: none !important;
}
.All-sections ul {
  list-style-type: none;
}

.List-item {
  font-size: x-large;
  padding: 0.7rem 1rem;
  text-decoration: none !important;
  font-family: Helvetica Neue;
}
.List-item:hover {
  background-color: #eff3f4;
  border-radius: 20px;
  list-style-type: none;
}
.List-item Link {
  text-decoration: none;
}

.Post-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Post-button-btn {
  width: 90%;
  height: 3.5rem;
  border-radius: 25px !important;
  font-weight: bolder;
  font-size: larger !important;
  font-weight: bolder !important;
  background-color: #1a8cd8;
  border: solid 1px white;
  color: white;
}

.Menu-Footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  color: wheat;
  background-color: black;
  padding: 0.5rem 0px;
  border-top: 1px solid #ccc;
  font-family: Helvetica Neue;
}

.main-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 751px) {
  .main-menu-bar {
    display: none;
  }
}
